body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #5d54a4;
}

h2,h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5d54a4;
}

h2 {
    font-size: 40px;
}

.container-top {
   position: relative;
   padding-top: 100px;
    background-color: #c8bcd3;
}

.container-top h2 span {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.name {
    margin-top: 100px;
}

.profile {
    width: 30%;
    margin: 0 auto;
    padding: 100px 0;
}

.profile img {
    width: 55%;
}

.profile p {
    line-height: 2;
}

.skills {
    padding: 100px;
    line-height: 2;
}

.skill-row {
    text-align: left;
    width: 50%;
    margin: 100px auto;
}

.skill-photo1 {
    margin-right: 30px;
    float: left;
    width: 25%;
}

.skill-photo2 {
    margin-left: 30px;
    float: right;
}

.contact-me {
    width:  40%;
    margin: 100px auto;
    line-height: 2;
}

a {
    text-decoration: none;
}

.contact-me .btn {
    background-color: #adadad;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}

.bottom-container {
    padding: 50px 0;
    background-color:  #c8bcd3;

}

.bottom-container a {
    font-size: 20px;
    margin: 0 15px;
    color: #5d54a4;
}

.bottom-container p {
    color: white;
    margin-top: 50px;
}